ivana-chess:
  server:
    # Server bind address
    bind-address: {{ ivana_chess_api.props.server.bind_address }}
    # Server port
    port: {{ ivana_chess_api.props.server.port }}
    # Context path
    context-path: /{{ ivana_chess_api.context_path }}
    # Coma-separated list of allowed origins
    allowed-origins: {{ ivana_chess_api.props.server.allowed_origins }}
  db:
    # Host of database
    host: {{ ivana_chess_api.props.db.host }}
    # Port of database
    port: {{ ivana_chess_api.props.db.port }}
    # Name of database
    name: {{ ivana_chess_api.props.db.name }}
    # Name of schema
    schema: {{ ivana_chess_api.props.db.schema }}
    # Username used to connect to database
    username: {{ ivana_chess_api.props.db.username }}
    # Password used to connect to database
    password: {{ ivana_chess_api.props.db.password }}

logging:
  file:
    path: {{ ivana_chess_api.root_dir }}/logs
    name: ivana-chess-api
  config: {{ ivana_chess_api.root_dir }}/current/etc/logback.xml
