[Unit]
Description=Ivana Chess API
After=syslog.target network.target

[Service]
WorkingDirectory={{ ivana_chess_api.root_dir }}/current
User={{ ivana_chess_api.user }}
Group={{ ivana_chess_api.group }}
ExecStart={{ ivana_chess_api.root_dir }}/current/bin/ivana-chess-api --spring.config.additional-location=file:{{ ivana_chess_api.root_dir }}/current/etc/application.yml
SuccessExitStatus=143

[Install]
WantedBy=multi-user.target
