<div class="row mt-2">
  <form class="col-12 col-lg-6 mx-lg-auto" [formGroup]="signUpForm" (ngSubmit)="signUp()">
    <div class="form-group">
      <label for="pseudo">Pseudo</label>
      <div class="form-row">
        <div class="col-11">
          <input id="pseudo"
                 name="pseudo"
                 type="text"
                 formControlName="pseudo"
                 class="form-control"
                 [ngClass]="{'is-invalid': (pseudo.touched || pseudo.dirty) && pseudo.invalid}" />
          <div *ngIf="pseudo.invalid" class="invalid-feedback">
            <div *ngIf="pseudo.errors!!.required">
              <span>Pseudo is required</span>
            </div>
            <div *ngIf="pseudo.errors!!.minlength">
              <span>Pseudo must contains at least {{ pseudoMinLength }} characters</span>
            </div>
            <div *ngIf="pseudo.errors!!.maxlength">
              <span>Pseudo must contains at most {{ pseudoMaxLength }} characters</span>
            </div>
            <div *ngIf="pseudo.errors!!.pattern">
              <span>Pseudo can contains only letters, digits, '-' and '_'</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <div class="form-row">
        <div class="col-11">
          <input id="email"
                 name="email"
                 type="text"
                 formControlName="email"
                 class="form-control"
                 [ngClass]="{'is-invalid': (email.touched || email.dirty) && email.invalid}" />
          <div *ngIf="email.invalid" class="invalid-feedback">
            <span *ngIf="email.errors!!.required">Email is required</span>
            <span *ngIf="email.errors!!.email">Email must be valid</span>
          </div>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <div class="form-row">
        <div class="col-11">
          <input id="password"
                 name="password"
                 type="password"
                 formControlName="password"
                 class="form-control"
                 [ngClass]="{'is-invalid': (password.touched || password.dirty) && password.invalid}" />
          <div *ngIf="password.invalid" class="invalid-feedback">
            <span *ngIf="password.errors!!.required">Password is required</span>
            <span *ngIf="password.errors!!.minlength">
              Password must contains at least {{ passwordMinLength }} characters
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="passwordConfirmation">Password confirmation</label>
      <div class="form-row">
        <div class="col-11">
          <input id="passwordConfirmation"
                 name="passwordConfirmation"
                 type="password"
                 formControlName="passwordConfirmation"
                 class="form-control"
                 [ngClass]="{'is-invalid': (passwordConfirmation.touched || passwordConfirmation.dirty) && (passwordConfirmation.invalid || signUpForm.errors?.passwordConfirmation)}" />
          <div *ngIf="passwordConfirmation.invalid || signUpForm.errors?.passwordConfirmation" class="invalid-feedback">
            <span *ngIf="passwordConfirmation.errors?.required">Password confirmation is required</span>
            <span *ngIf="signUpForm.errors?.passwordConfirmation">Password confirmation must match password</span>
          </div>
        </div>
      </div>
    </div>
    <button type="submit" [disabled]="!signUpForm.valid || signUpPending" class="btn btn-primary">
      <ng-container *ngIf="signUpPending else signUpButton">
        <span class="spinner-border spinner-border-sm text-light"></span> Signing-up...
      </ng-container>
      <ng-template #signUpButton>Sign-up</ng-template>
    </button>
  </form>
</div>
