<div>
  <button id="new-game-button" (click)="createNewGame()">Create new game</button>
</div>

<div *ngIf="page !== null">
  <table>
    <thead>
    <tr>
      <td>ID</td>
      <td>State</td>
      <td>Color</td>
      <td>Actions</td>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let game of page.content">
      <td><a id="game-{{ game.id }}-link" [routerLink]="['/game', game.id]">{{ game.id }}</a></td>
      <td>{{ game.state }}</td>
      <td>{{ game.turnColor }}</td>
      <td>
        <button id="game-{{ game.id }}-play-as-white-button"
                [routerLink]="['/game', game.id]"
                [queryParams]="{token: game.whiteToken}">
          Play as white
        </button>
        <button id="game-{{ game.id }}--play-as-black-button"
                [routerLink]="['/game', game.id]"
                [queryParams]="{token: game.blackToken}">
          Play as black
        </button>
      </td>
    </tr>
    </tbody>
  </table>

  <div>
    <button id="previous-page-button" (click)="previousPage()" [disabled]="page.number <= 1">Previous</button>
    <button id="next-page-button" (click)="nextPage()" [disabled]="page.number >= page.totalPages">Next</button>
  </div>
</div>
