<div *ngIf="me !== null" class="row mt-2">
  <div class="col-12">
    <button class="btn btn-success" [routerLink]="['/match']">Play!</button>
    <button class="btn btn-primary float-right" [routerLink]="['/new-game']">Play with friend</button>
  </div>
</div>

<div *ngIf="page === null; else body" class="row mt-4">
  <div class="col-12 text-center">
    <span class="spinner-border spinner-border-sm text-dark"></span> Loading...
  </div>
</div>

<ng-template #body>
  <div class="row mt-2">
    <div class="col-12 table-responsive">
      <table class="table table-sm mb-1">
        <thead>
        <tr>
          <td>Latest games</td>
          <td>Since</td>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let game of page!!.content">
          <td>
            <a [routerLink]="['/game', game.id]">{{ game.whitePlayer.pseudo }} vs. {{ game.blackPlayer.pseudo }}</a>
          </td>
          <td>{{ since(game.creationDate) }} min.</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <div class="btn-group float-right">
        <button class="btn btn-secondary"
                (click)="previousPage()"
                [disabled]="page!!.number <= 1 || pagePending">
          <fa-icon [icon]="previousIcon"></fa-icon>
        </button>
        <button class="btn btn-secondary"
                (click)="nextPage()"
                [disabled]="page!!.number >= page!!.totalPages || pagePending">
          <fa-icon [icon]="nextIcon"></fa-icon>
        </button>
      </div>
    </div>
  </div>
</ng-template>
