<div *ngIf="user === null; else body" class="row mt-4">
  <div class="col-12 text-center">
    <span class="spinner-border spinner-border-sm text-dark"></span>&nbsp;<span i18n>Loading...</span>
  </div>
</div>

<ng-template #body>
  <div class="row mt-2">
    <h1 class="col-12">{{ user!!.pseudo }}</h1>
  </div>

  <div *ngIf="me?.id === user!!.id" class="row mt-2">
    <h3 class="col-12" i18n>My information</h3>

    <form class="col-12 col-lg-6" [formGroup]="updateEmailForm" (ngSubmit)="updateEmail()" autocomplete="off">
      <div class="form-group">
        <label for="email" i18n>Email</label>
        <div class="form-row">
          <div class="col-11">
            <input id="email"
                   name="email"
                   type="text"
                   formControlName="email"
                   class="form-control"
                   [ngClass]="{'is-invalid': (email.touched || email.dirty) && (email.invalid || emailExists)}" />
            <div *ngIf="email.invalid || emailExists" class="invalid-feedback">
              <span *ngIf="email.errors?.required" i18n>Email is required</span>
              <span *ngIf="email.errors?.email" i18n>Email must be valid</span>
              <span *ngIf="emailExists" i18n>Email is already used</span>
            </div>
          </div>
          <div *ngIf="checkingEmail" class="col-1 pt-1">
            <span class="spinner-border spinner-border-sm text-secondary"></span>
          </div>
        </div>
      </div>
      <button type="submit"
              [disabled]="!updateEmailForm.valid || emailExists || updatePending"
              class="btn btn-primary">
        <ng-container *ngIf="updatePending else updateButton">
          <span class="spinner-border spinner-border-sm text-light"></span>&nbsp;<span i18n>Updating...</span>
        </ng-container>
        <ng-template #updateButton><span i18n>Update</span></ng-template>
      </button>
    </form>

    <h3 class="col-12 mt-2" i18n>Security</h3>

    <form class="col-12 col-lg-6" [formGroup]="updatePasswordForm" (ngSubmit)="updatePassword()" autocomplete="off">
      <div class="form-group">
        <label for="password" i18n>Password</label>
        <div class="form-row">
          <div class="col-11">
            <input id="password"
                   name="password"
                   type="password"
                   formControlName="password"
                   class="form-control"
                   [ngClass]="{'is-invalid': (password.touched || password.dirty) && password.invalid}" />
            <div *ngIf="password.invalid" class="invalid-feedback">
              <span *ngIf="password.errors!!.required" i18n>Password is required</span>
              <span *ngIf="password.errors!!.minlength" i18n>Password must contains at least {{ PasswordMinLength }}
                characters</span>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="passwordConfirmation" i18n>Password confirmation</label>
        <div class="form-row">
          <div class="col-11">
            <input id="passwordConfirmation"
                   name="passwordConfirmation"
                   type="password"
                   formControlName="passwordConfirmation"
                   class="form-control"
                   [ngClass]="{'is-invalid': (passwordConfirmation.touched || passwordConfirmation.dirty) && (passwordConfirmation.invalid || updatePasswordForm.errors?.passwordConfirmation)}" />
            <div *ngIf="passwordConfirmation.invalid || updatePasswordForm.errors?.passwordConfirmation"
                 class="invalid-feedback">
              <span *ngIf="passwordConfirmation.errors?.required" i18n>Password confirmation is required</span>
              <span *ngIf="updatePasswordForm.errors?.passwordConfirmation" i18n>Password confirmation must match password</span>
            </div>
          </div>
        </div>
      </div>
      <button type="submit"
              [disabled]="!updatePasswordForm.valid || updatePending"
              class="btn btn-primary">
        <ng-container *ngIf="updatePending else updateButton">
          <span class="spinner-border spinner-border-sm text-light"></span>&nbsp;<span i18n>Updating...</span>
        </ng-container>
        <ng-template #updateButton><span i18n>Update</span></ng-template>
      </button>
    </form>

    <ng-container *ngIf="user!!.role !== Role.SuperAdmin">
      <h3 class="col-12 mt-2" i18n>Danger zone</h3>

      <div class="col-12">
        <button class="btn btn-danger" [disabled]="deletionPending || updatePending" (click)="openConfirmWindow()">
          <ng-container *ngIf="deletionPending else deleteButton">
            <span class="spinner-border spinner-border-sm text-light"></span>&nbsp;<span i18n>Deleting...</span>
          </ng-container>
          <ng-template #deleteButton><span i18n>Delete my account</span></ng-template>
        </button>
      </div>
    </ng-container>
  </div>
</ng-template>
