<div class="row mt-2">
  <form class="col-12 col-lg-6 mx-lg-auto" [formGroup]="newGameForm" (ngSubmit)="create()">
    <div class="form-group">
      <label for="blackPlayer">Black player</label>
      <div class="form-row">
        <div class="col-11">
          <input id="blackPlayer"
                 name="blackPlayer"
                 type="text"
                 formControlName="blackPlayer"
                 class="form-control"
                 [ngClass]="{'is-invalid': (blackPlayer.touched || blackPlayer.dirty) && (blackPlayer.invalid || selectedBlackPayer === null)}"
                 [ngbTypeahead]="searchBlackPlayer"
                 [resultFormatter]="userFormatter"
                 [inputFormatter]="userFormatter"
                 (selectItem)="selectBlackPlayer($event)" />
          <div *ngIf="blackPlayer.invalid" class="invalid-feedback">
            <span *ngIf="blackPlayer.errors!!.required">Black player is required</span>
          </div>
          <div *ngIf="(blackPlayer.touched || blackPlayer.dirty) && selectedBlackPayer === null"
               class="invalid-feedback">
            <span>Please select a player from list</span>
          </div>
        </div>
        <div *ngIf="searchingForBlackPlayer" class="col-1 pt-1">
          <span class="spinner-border spinner-border-sm text-secondary"></span>
        </div>
      </div>
    </div>
    <button type="submit"
            [disabled]="!newGameForm.valid || selectedBlackPayer === null || creating"
            class="btn btn-primary">
      <ng-container *ngIf="creating else createButton">
        <span class="spinner-border spinner-border-sm text-light"></span> Creating...
      </ng-container>
      <ng-template #createButton>Create new game</ng-template>
    </button>
  </form>
</div>
