server {
{% if nginx.tls.enabled %}
    listen              443 ssl;
    ssl                 on;
    ssl_certificate     {{ nginx.tls.fullchain_cert }};
    ssl_certificate_key {{ nginx.tls.cert_key }};
{% else %}
    listen              80 default;
{% endif %}
    server_name         {{ nginx.server_name }};

{% if inventory_hostname in groups.ivana_chess_api %}
    location /{{ ivana_chess_api.context_path }} {
        proxy_set_header X-Forwarded-Proto $scheme;
        proxy_set_header Host              $http_host;
        proxy_set_header X-Forwarded-For   $proxy_add_x_forwarded_for;
        proxy_set_header X-Real-IP         $remote_addr;
        proxy_set_header Upgrade           $http_upgrade;
        proxy_set_header Connection        "Upgrade";

        proxy_pass http://{{ ivana_chess_api.props.server.bind_address }}:{{ ivana_chess_api.props.server.port }};
    }
{% endif %}

{% if inventory_hostname in groups.ivana_chess_webapp %}
    root {{ ivana_chess_webapp.root_dir }}/current;

    location /{{ ivana_chess_webapp.context_path }} {
        try_files $uri $uri/ /index.html;
    }
{% endif %}

    access_log /var/log/nginx/{{ nginx.server_name }}-access.log;
    error_log  /var/log/nginx/{{ nginx.server_name }}-error.log;
}

{% if nginx.tls.enabled %}
server {
    listen      80 default;
    server_name {{ nginx.server_name }};

    return 301 https://$server_name$request_uri;
}
{% endif %}
