<nav class="navbar navbar-expand-md navbar-light bg-light">
  <a class="navbar-brand" [routerLink]="['/']">Ivana Chess</a>
  <button class="navbar-toggler" (click)="toggleMenu()">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" [ngbCollapse]="menuIsCollapsed">
    <ul class="navbar-nav mr-auto">

    </ul>
    <ul class="navbar-nav ml-auto">
      <li *ngIf="me === null; else authenticatedMenu" class="nav-item">
        <a class="nav-link" [routerLink]="['/login']">
          <fa-icon [icon]="logInIcon"></fa-icon>
          Log-in
        </a>
      </li>
      <ng-template #authenticatedMenu>
        <li *ngIf="me !== null" class="nav-item">
          <a class="nav-link" [routerLink]="['/']">
            <fa-icon [icon]="userIcon"></fa-icon>
            {{ me.pseudo }}
          </a>
        </li>
        <li *ngIf="me !== null" class="nav-item">
          <button class="btn btn-outline-secondary" (click)="logOut()">
            <fa-icon [icon]="logOutIcon"></fa-icon>
            Log-out
          </button>
        </li>
      </ng-template>
    </ul>
  </div>
</nav>
