<div class="row mt-2">
  <ngb-alert class="col-12 text-center" *ngIf="errorCode !== null" type="danger" (closed)="close()">
    <span *ngIf="errorCode === ApiErrorCode.BadCredentials">Invalid pseudo or password</span>
    <span *ngIf="errorCode === ApiErrorCode.Forbidden">You are not allowed to do this, hacker!</span>
    <span *ngIf="errorCode === ApiErrorCode.GameNotFound">This game does not seem to exist, sorry...</span>
    <span *ngIf="errorCode === ApiErrorCode.InvalidMove">This move is invalid, cheater!</span>
    <span *ngIf="errorCode === ApiErrorCode.InvalidPlayer">It's not your time yet, be patient!</span>
    <span *ngIf="errorCode === ApiErrorCode.PlayerNotFound">User does not seem to exist</span>
    <span *ngIf="errorCode === ApiErrorCode.Unauthorized">Please log-in to do this!</span>
    <span *ngIf="errorCode === ApiErrorCode.UserEmailAlreadyUsed">Email is already used</span>
    <span *ngIf="errorCode === ApiErrorCode.UserPseudoAlreadyUsed">Pseudo is already used</span>
    <span *ngIf="isDevError()">Something went wrong...</span>
  </ngb-alert>
</div>
